*.exe
*.o
build/
launch.json

*.log
*.tmp
*.bak
*.swp
.DS_Store
.idea/
.vscode/
*.pyc
test*
!Prj_E4/minirvEMU/test_cmd/
!Prj_E4/minirvEMU/test_cmd/**
!Prj_E4/minirvEMU/tests/
!Prj_E4/minirvEMU/tests/**
*.dat
